# Bytecode and caches
__pycache__/
*.py[cod]

# Virtual environments
venv/
venv*/

# Editor files
.vscode/
.DS_Store

# environment files
.env

*.json

# Folders to ignore
illustrations/
mp3/
final_subtitled_videos/
output/
output_videos/
scripts/
podcast_scripts/
subtitles/